.header {
  min-height: 100vh;
  background: linear-gradient(rgba(117, 91, 91, 0.9), rgba(12, 11, 34, 0.9)),
    url("../../assets/images/header_main_img.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.header-content {
  font-size: 50px;
  font-weight: 900;
  line-height: 1.2;
  /* background: linear-gradient(
    to right,
    var(--clr-robin-blue),
    var(--clr-crazy-blue)
  ); */
  background: linear-gradient(to right, #9094c4, #08506a);
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  -webkit-background-clip: text;
}
.header-title {
  font-size: 50px;
  font-weight: 900;
  line-height: 1.2;
  background: linear-gradient(
    to right,
    var(--clr-robin-blue),
    var(--clr-crazy-blue)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
.header-desc {
  font-size: 2.5rem;
  line-height: 1.4;
  font-weight: 500;
  color: var(--clr-grey);
  -webkit-text-fill-color: transparent;
}
.header-btn {
  align-self: center !important;
}
.header-btn span {
  margin-left: 10px;
}
.header-content .header-desc {
  margin: 3.2rem 0 4.9rem 0;
}
.header span {
  color: #e8f4f9;
}
